html, body{
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  color: #222;
  background-color: #ecf0f1;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 2.4em;
  color: #222;


}

ul{
 list-style-type: none;
}

a {
  color: #222;

}

a:hover {
  color: #cccccc;
}


/************* Navbar */
.search{
  margin-right: 20px;
}

.navbar {
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  background-color: #f05a26;
  padding: auto 1em;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;

}

.badge:hover {
  cursor: pointer;
  color: #474747;
}

.glyphicon-comment {
  background-color: #f05a26;
  font-size: 10px;
}

.me-too {
  background-color: #3385FF;
  font-size: 11px;
}

.navbar input{
  margin-right: 10px;
}

/***************  forms */
.main-form {
  border: solid 1px maroon;
  border-radius: 30px;
  padding: 1em 2em 1em 2em;
  background-color: #fff;
}

textarea, input{
  width: 250px;
}

.btn {
  background-color: #f05a26;
  color: #fff;
  border-color: #d43f3a;
}

.btn:hover {
  background-color: #d43f3a;
  color: #fff;
}

.must {
  color: #f05a26;
}


/*************  Home only */
.hideMe {
  margin-left: 5%;
  margin-top: 20px;
}

.btn-warning {
  background-color: #d43f3a;
}

.btn-warning:hover {
  background-color: maroon;
}


/***********  Error/Replies */
.core-details h2{
  margin-bottom: 0;
}

.minor-details{
  font-size: 10px;
  margin-left: 20px;
}

.minor-details li{
  margin-right: 1em;
}

.the-message{
  margin: auto 25px 5px;
}


.alternating > div:nth-of-type(2n+1){
  background-color: white;
  padding: 2px ;
}

.alternating > div{
  margin-bottom: 20px;
}


/*************** Archive */
.archive h3:hover {
  cursor: pointer;
}

.scroll {
  max-height: 600px;
  overflow: auto;
}

.errorEssence {
  max-height: 300px;
  margin-top: 10%;
  border: 1px;
  border-color: #000;
  border-style: solid;
  padding: 8%;
  overflow: auto;
}

.errorEssence:hover {
  cursor: pointer;
}

.errorDetails {
  font-size: .75em;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: #222;
}
