<p> ALL </p>
<h4>This Month:</h4>
<ul>
  <li ng-repeat="item in filtered = (thisMonth() | orderBy:'-timeInt' : true )">
    <p><a ui-sref="error({errorId: item.id})">{{item.title}}: {{item.time}}</a></p>
  </li>
</ul>

<h4>Prior Months:</h4>
<ul>
  <li ng-repeat="item in filtered = (priorMonths() | orderBy:'-timeInt' : true | filter: query)">
    <p><a ui-sref="error({errorId: item.id})">{{item.title}}: {{item.time}}</a></p>
  </li>
</ul>

<h4>Prior Years:</h4>
<ul>
  <li ng-repeat="item in filtered = (priorYears() | orderBy:'-timeInt' : true | filter: query)">
    <p><a ui-sref="error({errorId: item.id})">{{item.title}}: {{item.time}}</a></p>
  </li>
</ul>

<!-- <p>FILTERED</p>

<ul>
  <li ng-repeat="entry in ctrl.yearFilter">
    <p><a ui-sref="error({errorId: item.id})">{{item.title}}</a></p>
  </li>
</ul> -->
