<div class="archive">
  <h3 ng-click="showThisM = !showThisM">This Month</h3>
  <div ng-hide="showThisM" class="well scroll">
    <ul>
      <li ng-repeat="item in filtered = (thisMonth() | orderBy: '-$id' | filter: query )">
        <p>{{item.time}}:<a ui-sref="error({errorId: item.$id})"> {{item.title}}</a></p>
      </li>
    </ul>
  </div>

  <h3 ng-click="showPriorM = !showPriorM">Prior Months</h3>
  <div ng-show="showPriorM" class="well scroll">
    <ul>
      <li ng-repeat="item in filtered = (priorMonths() | orderBy: '-$id' | filter: query)">
        <p><a ui-sref="error({errorId: item.$id})">{{item.time}}: {{item.title}}</a></p>
      </li>
    </ul>
  </div>

  <h3 ng-click="showPriorY = !showPriorY">Prior Years</h3>
  <div ng-show="showPriorY" class="well scroll">
    <ul>
      <li ng-repeat="item in filtered = (priorYears() | orderBy: '-$id' | filter: query)">
        <p><a ui-sref="error({errorId: item.$id})">{{item.time}}: {{item.title}}</a></p>
      </li>
    </ul>
  </div>
</div>
