<div class="well">
  <div class="core-details">
    <h2>{{currentError.title}}</h2>
    <p class="must"><i>{{currentError.message}}</i></p>
  </div>
  <p class="the-message">{{currentError.details}}</p>
  <ul class="list-inline minor-details">
    <li>Submitted by: {{currentError.name}}</li>
    <li>Language: {{currentError.language}}</li>
    <li>Time submitted: {{currentError.time}}</li>
    <li>Browser: {{currentError.browser}} </li>
  </ul>
</div>

<div class="alternating">
  <div ng-repeat="item in Replies | filter:  error = errorFId" ng-class="{wrap:!($index % 2)}">
    <h4>{{item.name}}</h4>
      <ul>
        <li>{{item.message}}</li>
      </ul>
  </div>
</div>

<div ui-view></div>
