<div class="well">
  <h2>{{currentError.title}}</h2>
  <p>Error message: {{currentError.message}}</p>
  <p>Submitted by: {{currentError.name}}</p>
  <p>{{currentError.details}}</p>
  <p>
    Time submitted: {{currentError.time}}</br>
    Language: {{currentError.language}}</br>
    Browser: {{currentError.browser}}
  </p>
</div>

<ul>
  <li ng-repeat="item in Replies1 | filter:  error = errorFId ">{{item.name}} {{item.message}}</li>
</ul>

<a ui-sref="error.replies">Add comment</a>
<div ui-view></div>
