<div class="row">
  <span class="form-group" ng-show="showForm" ng-submit="showForm = false">
    <div class="col-md-6">
      <div class="hideMe">
        <form class="main-form" ng-submit="ErrorsFactory.addError()">
          <div class="form-group">
            <label for="title">What's your problem?<span class="must">*</span></label><br />
            <input type="text" class="form-control" id="title" ng-model="ErrorsFactory.errorTitle" placeholder="e.g. 'Data is not showing'" required>
          </div>
          <div class="form-group">
            <label for="name">Who are you?<span class="must">*</span></label><br />
            <input type="text" class="form-control" id="name" ng-model="ErrorsFactory.errorName" placeholder="You & your partner's names" required>
          </div>
          <div class="form-group">
            <label for="message">What's your actual problem?</label><br />
            <input type="text" class="form-control" id="message" ng-model="ErrorsFactory.errorMessage" placeholder="Copy & paste error message">
          </div>
          <div class="form-group">
            <label for="details">Care to elaborate?</label><br />
            <textarea type="text" class="form-control" id="details" rows="5" ng-model="ErrorsFactory.errorDetails" placeholder="'This is very frustrating because...'"></textarea>
          </div>
          <div class="form-group">
            <label for="language">Watch your language!<span class="must">*</span></label><br />
            <input type="text" class="form-control" id="language" ng-model="ErrorsFactory.errorLanguage" placeholder="e.g. Ruby, Javascript, etc." required>
          </div>
          <div class="form-group">
            <label for="browser">What's your browser?</label><br />
            <select id="browser" ng-init="ErrorsFactory.errorBrowser='Chrome'" ng-model="ErrorsFactory.errorBrowser">
              <option>Chrome</option>
              <option>Safari</option>
              <option>FireFox</option>
              <option>IE, really?</option>
            </select>
          </div>
          <button type="submit" class="btn">Post</button>
          <button ng-click="showForm = !showForm" class="btn btn-warning">Cancel</button>
        </form>
      </div>
    </div>
  </span>
  <span ng-hide="showForm" ng-click="showForm = !showForm">
    <button type="submit" class="btn">Log an Error</button>
  </span>
  <h2 ng-show="todaysErrors().length && filtered.length">Today's Errors</h2>
  <h2 ng-show="todaysErrors().length && !filtered.length">No Matches Found. Please Try Again.</h2>
  <ul class="row">
    <li class="col-lg-4 col-md-4 col-sm-4 col-xs 4" ng-repeat="item in filtered = (todaysErrors() | orderBy: 'pureTime': true | filter: query)">
      <div class="errorEssence" ng-click="errorDetailsShow = !errorDetailsShow">
        <h4 class="title"><a ui-sref="error({errorId: item.$id})">{{item.title}}</a></h4>
        <p><i><b>Message: </b>{{item.message}}</i></p>
        <p>By: {{item.name}}</p>
        <a ui-sref="error({errorId: item.$id})"><span class="badge glyphicon glyphicon-comment"> replies</span></a>
        <span ng-click="oneUp(item)" class="badge me-too">{{item.ditto}} Me too!</span>
        <div class="errorDetails" ng-show="errorDetailsShow">
          <p>{{item.details}}</p>
          <p>
            Time submitted: {{item.time}}</br>
            Language: {{item.language}}</br>
            Browser: {{item.browser}} </br>
          </p>
        </div>
      </div>


    </li>
  </ul>
</div>
