<!DOCTYPE html>
<html ng-app="epicodusOverflow">
  <head>
    <title>Epicodus Overflow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
<link href='http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans+Condensed:300|Amatic+SC|Handlee|Raleway|Oxygen' rel='stylesheet' type='text/css'>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="app.js"></script>

    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <script src="controllers/ErrorController.js"></script>
    <script src="controllers/ErrorsController.js"></script>
    <script src="controllers/RepliesController.js"></script>
    <script src="controllers/ArchiveController.js"></script>
    <script src="controllers/NavbarController.js"></script>
    <script src="services/ErrorsFactory.js"></script>
    <script src="services/UtilitiesFactory.js"></script>

  </head>
  <body>
    <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li><a ui-sref="errors">Home</a></li>
      <li><a ui-sref="archive">Archive</a></li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input ng-model="query.language" type="text" placeholder="Search by Language">
        <input ng-model="query.$" type="text" placeholder="Search All/All in Language">
      </div>
      <button type="submit" class="btn btn-default search">Search</button>
    </form>
    </nav>


    <div class="container">
      <div ui-view></div>
    </div>
  </body>
</html>
